<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  #{include file="../../Common/Header.html"}

  <!--start::HOOK-->
  #{hook(\App\Consts\Hook::USER_VIEW_INDEX_HEADER)}
  <!--end::HOOK-->
  <style>
    .c-tips {
      width: 100%;
      height: 177px;
      background: #FFFFFF;
      border-radius: 8px;
    }
    .c-product-list {
      display: grid;
      grid-gap:20px 20px;
      justify-content: space-between;
      grid-template-columns: repeat(auto-fill, 200px);
    }

    .c-product {
      width: 204px;
      height: 177px;
      background: #FFFFFF;
      border-radius: 8px;
      text-align: center;
      margin-bottom: 10px;
    }

    .c-product-img {
      display: flex;
      justify-content: center;
      width: 100%;
      height: 28px;
    }

    .c-product-img img {
      align-self: center;
      width: 38px;
      height: 28px;
      margin-top: 13px;
    }

    .line {
      height: 1px;
      width: 100%;
      background-color: #ccc;
    }

    .c-product-price, .c-product-buy, .c-tips-down {
      justify-content: space-between;
    }

    .c-product-buy_input {
      border: none;
    }
  </style>
</head>
<body>
<!-- loader Start -->
#{include file="../../Common/Loader.html"}
<!-- loader END -->
<!-- Wrapper Start -->
<div class="wrapper">
  <!-- Sidebar  -->
  #{include file="../../Common/Sidebar.html"}
  <!-- TOP Nav Bar -->
  #{include file="../../Common/TopBar.html"}
  <!-- TOP Nav Bar END -->
  <!-- Responsive Breadcrumb End-->
  <!-- Page Content  -->
  <div id="content-page" class="content-page">
    <div class="container-fluid">
      <div class="row ">
        <div class="col-sm-12">
          <div class="c-product-list">

          </div>
          <nav>
            <ul class="pagination justify-content-center paging mb-3"></ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Wrapper END -->
<!-- Footer -->
#{include file="../../Common/Footer.html"}
<script>

  acg.ready("#{$from}", () => {

    let shop_limit = 28;//商品数量限制
    let defaultCategory = parseInt("#{$categoryId}");
    let defaultCommodity = parseInt("#{$commodityId}");
    let searchContent = "#{$smarty.get.search}";

    if (searchContent != null) {
      $('#search').val(searchContent);
    }



    let shopClickId = 0;
    $("body").on("click", ".shopClick", function () {
      if (shopClickId == $(this).attr("data-id")) {
        return;
      }
      $(this).addClass('active-task');
      $('.active-task').removeClass('active-task');
      $(this).addClass('active-task');
      shopClickId = $(this).attr("data-id");

      view.card(shopClickId);
    });

    $("body").on("click", ".shop-check-detailed", function () {
      dom.getShopInfo($(this).attr("data-id"), (res) => {
        window.location.href = '/user/index/index?id=' + res.id
      }, (error) => {
        layer.msg(error.msg);
      })
    });

    $("body").on('click','.c-nav',function () {
      let categoryId = $(this).attr('data-id');
      $(this).siblings().removeClass('c-nav-active');
      $(this).addClass('c-nav-active');
      dom.getShopData(categoryId, 1, shop_limit);
    });

    $("body").on('click', '.buy-product', function () {

      let id = $(this).attr('data-id');
      let number = $('input[name="number-' + id + '"]').val();
      console.log(number)
      if (number > 0) {
        window.location.href = `/user/index/index?id=${id}&number=${number}`
      }

    });

    let view = {
      card: (shop_id) => {
        dom.getShopInfo(shop_id, (res) => {
          $('.shop-fast-view').css('display', '');
          console.log(res);
          let inventory = "";
          if (res.delivery_way == 1 || res.shared) {
            inventory = "<b style=\"color:rgb(59,58,58);\">未知</b>";
          } else {
            if (res.inventory_hidden == 1) {
              if (res.card <= 0) {
                inventory = "<b style=\"color:#ff0000;\">已售罄</b>";
              } else if (res.card <= 5) {
                inventory = "<b style=\"color:#eebd0c;\">马上卖完!</b>";
              } else if (res.card <= 20) {
                inventory = "<b style=\"color:#134afc;\">一般</b>";
              } else if (res.card > 20) {
                inventory = "<b style=\"color:#28d74d;\">充足</b>";
              }
            } else {
              inventory = "<b style=\"color:#e3920c;\">" + res.card + "件</b>";
            }
          }
          let html = `<div class="iq-card">
                                <div class="iq-card-body">
                                    <div class="user-detail text-center">
                                        <div class="user-profile">
                                            <img src="` + res.cover + `" loading="lazy" style="border-radius:70px;"
                                                 class="avatar-130 img-fluid">
                                        </div>
                                        <div class="profile-detail mt-3">
                                            <h3 class="d-inline-block">` + res.name + `</h3>
                                            <p class="mb-0">商品单价: <b style="color:#9a11ff;">` + res.price + `元</b></p>
                                            <p class="mb-0">发货方式: ` + ((res.delivery_way == 0 && !res.shared ? '<b style=\"color:#00ff36;\">自动发货</b>' : "<b style=\"color:#f84a4a;\">人工发货</b>")) + `</p></span>
                                            <p class="mb-0">剩余库存: ` + inventory + `</p></span>
                                            <br />
                                            <div type="submit" class="btn btn-primary shop_card_link" data-clipboard-text="` + res.share_url + `">分享商品</div>
                                            <a href="javascript:void(0);" class="btn btn-primary text-white shop-check-detailed" data-id="` + res.id + `">查看详细</a>
                                        </div>
                                    </div>
                            </div>
                        </div>`;
          $('.shop-view-layout').removeClass('col-sm-9 col-lg-9');
          $('.shop-view-layout').addClass('col-sm-6 col-lg-6');
          $('.shop-fast-view').html(html);
          $('.shop_card_link').click(function () {
            let clipboard = new ClipboardJS(".shop_card_link");
            clipboard.on('success', function (e) {
              layer.msg("分享链接已经复制成功了，赶快发给好友吧！");
            });
          })
        }, (error) => {
          //layer.msg(error.msg);
          $('.shop-fast-view').css('display', 'none');
          $('.shop-view-layout').removeClass('col-sm-6 col-lg-6');
          $('.shop-view-layout').addClass('col-sm-9 col-lg-9');
        });
      }
    }



    // $("body").on("click", ".shop_card_link", function () {
    //     let clipboard = new ClipboardJS(".shop_card_link");
    //     clipboard.on('success', function (e) {
    //         layer.msg("分享链接已经复制成功了，赶快发给好友吧！");
    //     });
    // });


    function inventoryHidden(state, count) {
      if (state == 0) {
        return count;
      }
      if (count <= 0) {
        return '已售罄';
      } else if (count <= 5) {
        return '马上卖完';
      } else if (count <= 20) {
        return '一般';
      } else if (count > 20) {
        return '充足';
      }
    }

    let dom = {
      getShopInfo: (commodityId, done = null, error = null) => {
        acg.API.commodity({
          commodityId: commodityId,
          success: res => {
            done(res);
          },
          error: res => {
            error(res);
          }
        });
      },
      getShopData: (categoryId, page, limit, keywords = null) => {
        //$('.shop-list').html('');//初let html = 始化商品内容
        var shop_list_view = '';
        acg.API.commoditys({
          keywords: keywords,
          categoryId: categoryId,
          page: page, //初始页码
          limit: limit, // 每页显示多少商品
          success: item => {
            let owner = `站长自配`;
            if (item.owner) {
              owner = item.owner.username;
            }

            shop_list_view += `<div class="c-product">
                            <div class="c-product-img">
                                <img src="${item.cover}" class="img-fluid"/>
                            </div>
                            <div class="pt-3">${item.name}</div>
                            <div class="d-flex c-product-price pt-2 pb-1">
                                <div></div>
                                <div>
                                    <div>库存</div>
                                    <div>`+(item.delivery_way == 0 && !item.shared ? inventoryHidden(item.inventory_hidden, item.card_count) + "件" : "未知")+`</div>
                                </div>
                                <div>
                                    <div>售价</div>
                                    <div class="text-danger">${item.price}</div>
                                </div>
                                <div></div>
                            </div>
                            <div class="line"></div>
                            <div class="d-flex c-product-buy pt-2">
                                <div class="pl-2" style="width: 65%">
                                    <input type="number" class="c-product-buy_input" placeholder="输入购买量" value="10" name="number-${item.id}"/>
                                </div>
                                <div class="pr-2">
                                    <button class="btn btn-primary btn-sm buy-product"  data-id="${item.id}">购买</button>
                                </div>
                            </div>
                        </div>`;
          },
          empty: () => {
          },
          yes: () => {
            $('.paging').html('');
            $("body").off("click", ".pages-click");
            $("body").on("click", ".pages-click", function () {
              sessionStorage.setItem("xens_class-" + categoryId + "_page", $(this).attr("data-id"));
              dom.getShopData(categoryId, parseInt($(this).attr("data-id")), limit);
            });

            // $('.shop-list').html(shop_list_view);
            $('.c-product-list').html(shop_list_view);

            if (defaultCommodity) {
              $('.commodity').val(defaultCommodity);
              view.card(defaultCommodity);
              defaultCommodity = null;
            }

            // if (sessionStorage.getItem("cache_page") != null) {
            //     currentPage = parseInt(sessionStorage.getItem("cache_page"));
            // }
          },
          prev: (totalPage, page, i) => {
            $('.paging').append(`<li class="page-item ` + (parseInt(page) === 1 ? 'disabled' : 'pages-click') + `" data-id="` + i + `">
                                <a class="page-link" href="javascript:void(0);" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>`);
          },
          pageRender: (totalPage, page, i) => {
            $('.paging').append(`<li class="page-item pages-click ` + (parseInt(page) === parseInt(i) ? 'active' : '') + `" data-id="` + i + `"><a class="page-link" href="javascript:(0);">` + i + `</a></li>`);
          },
          next: (totalPage, page, i) => {
            $('.paging').append(`<li class="page-item ` + (parseInt(page) >= parseInt(totalPage) ? 'disabled' : 'pages-click') + `" data-id="` + i + `">
                                <a class="page-link" href="javascript:void(0);" aria-label="Previous">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>`);
          }
        })
      }
    };
    dom.getShopData(4, 1, shop_limit, searchContent);
  });

  layui.define(['layer'], function () {

  });

</script>

<!--start::HOOK-->
#{hook(\App\Consts\Hook::USER_VIEW_INDEX_BODY)}
<!--end::HOOK-->
</body>
<!--start::HOOK-->
#{hook(\App\Consts\Hook::USER_VIEW_INDEX_FOOTER)}
<!--end::HOOK-->
</html>