<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    #{include file="../../Common/Header.html"}
</head>
<body>
<!-- loader Start -->
#{include file="../../Common/Loader.html"}
<!-- loader END -->
<!-- Wrapper Start -->
<div class="wrapper">
    <!-- Sidebar  -->
    #{include file="../../Common/Sidebar.html"}
    <!-- TOP Nav Bar -->
    #{include file="../../Common/TopBar.html"}
    <!-- TOP Nav Bar END -->
    <!-- Responsive Breadcrumb End-->
    <!-- Page Content  -->
    <div id="content-page" class="content-page">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12 col-lg-12">
                    <div class="iq-card">
                        <div class="iq-card-header d-flex justify-content-between">
                            <div class="card-toolbar">
                                <button class="btn btn-primary me-3 btn-app-create"><i
                                        class="ri-add-line"></i>
                                    新增筛选任务
                                </button>
                            </div>
                        </div>
                        <div class="iq-card-body">
                            <form class="search-query"></form>
                            <table id="bill"></table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Wrapper END -->
<!-- Footer -->
#{include file="../../Common/Footer.html"}

<script>
    layui.define(['layer', 'hex'], function () {
        var table = layui.table
            , form = layui.form
            , util = layui.util
            , cao = layui.hex
            , $ = layui.$;

        let status = ['<span class="badge badge-danger">支出</span>', '<span class="badge badge-success">收入</span>'];
        let currency = ['<span style="color: #0C84D1;">余额</span>', '<span style="color: #13b413;">硬币</span>'];

        var tableIns = table.render({
            elem: '#bill',
            method: "post",
            url: '/user/api/filtering/data',
            where:{'equal-mode':'WS'},
            page: true, //开启分页
            parseData: (res) => {
                if (res.code === 200) {
                    return {
                        "code": 0,
                        "msg": res.msg,
                        "count": res.count,
                        "data": res.data
                    };
                }
            },
            cols: [
                [
                    {
                        field: 'id', title: 'ID', templet: function (item) {
                            return '<span style="color: #0C84D1;">' + item.id + '</span>';
                        }
                    },
                    {
                        field: 'title', title: '描述', templet: function (item) {
                            return '<span class="text-primary">' + item.title + '</span>';
                        }
                    },
                    {
                        field: 'type', title: '任务类型', templet: function (item) {
                            return `<span style="color: #0C84D1;">${item.type}</span>`;
                        }
                    },
                    {
                        field: 'taskTotal', title: '进度/总数', templet: function (item) {
                            return `<span style="color: #0C84D1;">${item.taskProgress}/${item.taskTotal}</span>`;
                        }
                    },
                    {
                        field: 'taskState', title: '任务状态', templet: function (item) {
                            return item.taskState;
                        }
                    },
                    {
                        field: 'create_time', title: '创建时间', templet: function (item) {
                            return '<span class="text-secondary">' + item.create_time + '</span>';
                        }, width: 170
                    },
                    {
                        field: 'update_time', title: '更新时间', templet: function (item) {
                            return '<span class="text-secondary">' + item.update_time + '</span>';
                        }, width: 170
                    },
                    {
                        field: 'restart',
                        title: '更新数据',
                        width: 100,
                        templet: function (item) {
                            let html = `<div class="d-flex restart text-primary" data-id="${item.id}" style="cursor: pointer"> <i class="ri-restart-line"></i>更新状态</div>`;
                            return html;
                        }
                    },
                    {
                        field: 'operate',
                        title: '操作',
                        width: 100,
                        templet: function (item) {
                            let html = `<div class="d-flex download ml-2 text-primary" data-id="${item.id}" style="cursor: pointer"><i class="ri-download-2-line"></i>下载结果</div>`
                            return html;
                        }
                    }
                ]
            ],
            done: (res) => {
                table.render();
                cao.setIdMap(res.data);

                $('.download').click(function () {
                    let url = cao.getMapItem($(this).attr('data-id')).taskResultUrl;
                    if (url == ''){
                        layer.msg('任务还没有完成');
                    }else{
                        download(url,url.split('/').pop())
                    }
                });

                $('.restart').click(function () {
                    let id = cao.getMapItem($(this).attr('data-id')).id;

                    layer.confirm('您确认要更新当前数据状态吗？', {
                        btn: ['确认', '取消']
                    }, function () {
                        $.post('/user/api/filtering/restart', {id: id}, res => {
                            layer.msg(res.msg);
                            tableIns.reload();
                        });
                    });
                });
            }
        });

        cao.query('.search-query', table, [
            {title: "描述信息", name: "equal-title", type: "input"},
            {title: "ID", name: "equal-id", type: "input"},
            {
                title: "任务状态", name: "equal-taskState", type: "select", dict: [
                    {id: 'Close', name: "关闭"},
                    {id: 'Finish', name: "完成"},
                    {id: 'Ongoing', name: "正在进行"},
                    {id: 'Waiting', name: "等待"},
                ]
            },
        ], true, false, (res) => {
            tableIns.reload({
                where: res,
                page: {
                    curr: 1
                }
            }, false);
        });
        let modalUnqueId = 0;
        let modal = (values = {mode:'WS'}) => {
            cao.popup('/user/api/filtering/save', [
                {name:'mode',type:'hidden'},
                {
                    title: "描述信息",
                    name: "title",
                    type: "input",
                    placeholder: "请输入描述信息",
                },
                {
                    title: "筛选类型", name: "type", type: "select", dict: [
                        {id: 'filterNumber', name: "筛选开通"},
                        {id: 'filterActive', name: "筛选活跃"},
                    ],placeholder: "筛选类型",
                },
                {
                    title: "任务目标来源",
                    name: "delivery_way",
                    type: "radio",
                    placeholder: "请选择",
                    dict: [{id: 0, name: "上传Txt"}, {id: 1, name: "在线生成"}],
                    default: 0,
                    required: true,
                    change: function (value) {
                        let number = cao.popupElement("number", "input", modalUnqueId).parent().parent();
                        let txt_file = cao.popupElement("txt_file", "file", modalUnqueId).parent();
                        let number_start = cao.popupElement("number_start", "input", modalUnqueId).parent().parent();
                        let number_incremental = cao.popupElement("number_incremental", "input", modalUnqueId).parent().parent();
                        if(value == 1){
                            txt_file.hide();
                            number.hide();
                            number_start.show();
                            number_incremental.show();
                        }else{
                            number_start.hide();
                            number_incremental.hide();
                            number.show();
                            txt_file.show();
                        }
                    }
                },
                {
                    title: "任务目标",
                    name: "txt_file",
                    type: "file",
                    exts: 'txt',
                    uploadUrl:'/user/api/filtering/handle',
                    placeholder: "上传txt文件",
                },{
                    title: "任务总数",
                    name: "number",
                    type: "input",
                    placeholder: "请输入任务总数",
                },{
                    title: "起始数字",
                    name: "number_start",
                    type: "input",
                    placeholder: "请输入起始数字",
                    hide:true
                },{
                    title: "递增数量",
                    name: "number_incremental",
                    type: "input",
                    placeholder: "请输入递增数量",
                    hide:true
                },
            ], res => {
                tableIns.reload({
                    where: res,
                    page: {
                        curr: 1
                    }
                }, false);
            }, values, ['620px', '620px'], false, '添加', uuid => {
                modalUnqueId = uuid;
            });
        }

        $('.btn-app-create').click(function () {
            modal();
        });


        function download(url,name) {
            // 发送http请求，将文件链接转换成文件流
            fileAjax(url, function(xhr) {
                downloadFile(xhr.response, name)
            }, {
                responseType: 'blob'
            })
        }

        function fileAjax(url, callback, options) {
            let xhr = new XMLHttpRequest()
            xhr.open('get', url, true)
            if (options.responseType) {
                xhr.responseType = options.responseType
            }
            xhr.onreadystatechange = function() {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    callback(xhr)
                }
            }
            xhr.send()
        }

        function downloadFile(content, filename) {
            window.URL = window.URL || window.webkitURL
            let a = document.createElement('a')
            let blob = new Blob([content])
// 通过二进制文件创建url
            let url = window.URL.createObjectURL(blob)
            a.href = url
            a.download = filename
            a.click()
// 销毁创建的url
            window.URL.revokeObjectURL(url)
        }




    });

</script>
</body>
</html>